name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up git repository
        uses: actions/checkout@v2.4.0

      - name: Install dependencies
        run: sudo apt -y install make python3-pip python3-venv

      - name: Run 'make clean' process
        run: make clean

      - name: Run 'make test' process
        run: make test
